/* Import Tailwind CSS base styles, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define global CSS variables for light mode */
:root {
  --foreground-rgb: 0, 0, 0; /* Black text */
  --background-start-rgb: 255, 255, 255; /* White at the top */
  --background-end-rgb: 230, 230, 230; /* Light gray at the bottom */
}

/* Override CSS variables for dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* White text */
    --background-start-rgb: 20, 20, 20; /* Slight off-black at top */
    --background-end-rgb: 0, 0, 0; /* Black at the bottom */
  }
}

/* Add light-mode and dark-mode classes */
.light-mode {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 185, 185, 185;
}

.dark-mode {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 70, 70, 70;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ),
    rgb(var(--background-start-rgb));

  /* Prevent the gradient from repeating and scrolling */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
