aws_region = "ENTER_YOUR_AWS_REGION_HERE"
aws_access_key = "ENTER_YOUR_KEY_HERE"
aws_secret_access_key = "ENTER_YOUR_KEY_HERE"
mongodbatlas_public_key = "ENTER_YOUR_KEY_HERE"
mongodbatlas_private_key = "ENTER_YOUR_KEY_HERE"
openai_api_key = "ENTER_YOUR_KEY_HERE"
replicate_api_token = "ENTER_YOUR_KEY_HERE"
mongodb_uri = "ENTER_YOUR_MONGODB_URI_HERE"
mongodb_db = "ENTER_YOUR_MONGODB_DB_HERE"
bluesky_username = "ENTER_BLUESKY_USERNAME_HERE"
bluesky_password = "ENTER_BLUESKY_PASSWORD_HERE"
bluesky_profile_base_url = "ENTER_BLUESKY_PROFILE_BASE_URL_HERE"
